services:
  jenkins:
    build: .
    container_name: jenkins
    ports:
      - "7070:8080"
      - "50000:50000"
    user: root
    volumes:
      - ./volumes/jenkins:/var/jenkins_home
      - ./kubeconfig:/root/.kube
      - /var/run/docker.sock:/var/run/docker.sock
      - C:\Users\dmstl\Intellij-Workspace\backend5/backendProject:/var/jenkins_home/workspace/backend5/backendProject  # 프로젝트 연결  (은시기 노트북)
    #  - A:\backend5/backendProject:/var/jenkins_home/workspace/backend5/backendProject  # 프로젝트 연결  (은시기 데스크탑 )
    restart: unless-stopped
    networks:
      - prod_server

networks:
  prod_server:
    external: true